<!doctype html>
<html lang="{{ config.site_language }}" class="mdui-theme-{{ config.site_settings.theme }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="description" content="{% block meta_description %}{{ config.site_settings.description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ config.site_settings.keywords }}{% endblock %}">
    {% if config.site_settings.cloudflare_analytics_token %}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ config.site_settings.cloudflare_analytics_token }}"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {% endif %}
    <link rel="stylesheet" href="/static/mdui_2.1.4/mdui.css">
    <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

    @import url('/static/roboto/roboto.css');
    </style>
    <script src="/static/mdui_2.1.4/mdui.global.js"></script>
    <link rel="stylesheet" href="/static/material_icons/material_icons.css">

    {% block head_extra %}{% endblock %}

    <title>{% block title %}{{ config.site_settings.title }}{% endblock %}</title>
  </head>
  <body>
      <mdui-navigation-drawer close-on-overlay-click modal class="sidenav">
          <mdui-button-icon icon="close" onclick="toggleSideNav();" style="float: right; margin: 12px;"></mdui-button-icon>
          <div style="height: 15%;"></div>
          <mdui-list>
            <mdui-list-item icon="timeline" end-icon="arrow_forward" href="/">{{ i18n.recent_posts }}</mdui-list-item>
            <mdui-list-item icon="search" end-icon="arrow_forward" href="/search">{{ i18n.search }}</mdui-list-item>
            <mdui-list-item icon="tag" end-icon="arrow_forward" href="/tags">{{ i18n.tags }}</mdui-list-item>
            <mdui-list-item icon="list" end-icon="arrow_forward" href="/posts">{{ i18n.all_posts }}</mdui-list-item>
            <mdui-list-item icon="info" end-icon="arrow_forward" onclick="mdui.$('#about')[0].open = true">{{ i18n.about }}</mdui-list-item>
          </mdui-list>
          <!-- fix at bottom -->
          <br><br>
          <mdui-divider></mdui-divider>
          <br>
          <p style="text-align: center; color:rgb(var(--mdui-color-surface-variant));">{{ i18n.powered_by.format(backend_version) }}<br><br><span style="font-size: small;">{{ i18n.powered_by_desc }}</span></p>
      </mdui-navigation-drawer>
      <mdui-top-app-bar>
        <mdui-button-icon icon="menu" onclick="toggleSideNav();"></mdui-button-icon>
        <a href="/" style="text-decoration: none;"><mdui-top-app-bar-title>{{ config.site_settings.title }}</mdui-top-app-bar-title></a>
        <div style="flex-grow: 1"></div>
        <mdui-button-icon icon="rss_feed" href="/feed"></mdui-button-icon>
        <mdui-button-icon icon="search" href="/search"></mdui-button-icon>
        <mdui-button-icon icon="more_vert" onclick="mdui.$('#about')[0].open = true"></mdui-button-icon>
      </mdui-top-app-bar>

      <div style="max-width: 90%; padding-left: 5%;">
          {% block content %}{% endblock %}
          {% block copyright %}
          {% if copyright %}
            <mdui-divider></mdui-divider>
            <br>
            <div class="mdui-prose">
                <p>{{ i18n.copyright.format(copyright.name) }}&nbsp;<a href="{{ copyright.refer }}" target="_blank">{{ i18n.copyright_refer }}</a></p>
            </div>
          <br>
          <br>
          {% endif %}
          {% endblock %}
      </div>

      <mdui-dialog id="about" close-on-esc close-on-overlay-click style="text-align: center;">
            <p style="font-size: x-large;">{{ config.site_settings.title }}</p>
            <p>{{ config.site_settings.description }}
            <br>{{ i18n.total_posts.format(total_posts) }}
            </p>
            <br>
            <mdui-divider></mdui-divider>
            <p>
            {{ i18n.powered_by.format(backend_version) }}
            <br>{{ i18n.powered_by_desc }}
            <div class="mdui-prose"><a href="https://github.com/0x24a/AmiaBlog" target="_blank">{{ i18n.github_repo }}</a></div>
            </p>
      </mdui-dialog>
      
      {% block extra_scripts %}{% endblock %}
      <script>
      const sideNav = mdui.$('.sidenav')[0];
      function toggleSideNav() {
        sideNav.open = !sideNav.open;
      }
      mdui.setColorScheme('{{ config.site_settings.color_scheme }}')
      </script>
  </body>
</html>