{% extends "base.html" %}

{% block title %}{{ i18n.friend_links }} - {{ config.site_settings.title }}{% endblock %}

{% block meta_description %}{{ i18n.friend_links_desc }}{% endblock %}

{% block content %}
    <p style="font-size: x-large;">{{ i18n.friend_links }}</p>
    <p>{{ i18n.friend_links_desc }}</p>
    <br>
    <mdui-divider></mdui-divider>
    <br>
    {% if friend_links %}
        <mdui-list>
        {% for link in friend_links %}
            <mdui-list-item href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                {{ link.name }}
                <span slot="description">{{ link.description }}</span>
            </mdui-list-item>
        {% endfor %}
        </mdui-list>
    {% endif %}
    <br>
{% endblock %}