<!doctype html>
<html lang="{{ config.site_language }}" class="mdui-theme-{{ config.site_settings.theme }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="description" content="{{ config.site_settings.description }}">
    <meta name="keywords" content="{{ config.site_settings.keywords }}">

    <link rel="stylesheet" href="/static/mdui_2.1.4/mdui.css">
    <script src="/static/mdui_2.1.4/mdui.global.js"></script>
    <!-- Include the icon's CSS file if using the icon attribute -->

    <title>{{ config.site_settings.title }}</title>
  </head>
  <body>
      <script>mdui.setColorScheme('{{ config.site_settings.color_scheme }}')</script>
  </body>
</html>